/.vs
/.idea
/IndigoSoft.StreamTicker.Application/obj
/IndigoSoft.StreamTicker.Application/bin
/IndigoSoft.StreamTicker.Contracts/obj
/IndigoSoft.StreamTicker.Contracts/bin
/IndigoSoft.StreamTicker.Domain/obj
/IndigoSoft.StreamTicker.Domain/bin
/IndigoSoft.StreamTicker.Infrastructure/obj
/IndigoSoft.StreamTicker.Infrastructure/bin
/IndigoSoft.StreamTicker.Presentation/obj
/IndigoSoft.StreamTicker.Presentation/bin
/IndigoSoft.StreamTicker.Tests/obj
/IndigoSoft.StreamTicker.Tests/bin
/IndigoSoft.StreamTicker.Benchmarks/obj
/IndigoSoft.StreamTicker.Benchmarks/bin